h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

.header-date {
    font-size: 14px;
<<<<<<< HEAD
    margin: 20px;
=======
>>>>>>> e61b48a4b71ed1052d08f0ece3001ccdb2b56109
}

.subchapter-list-item {
    text-indent: 1rem;
}

#header {
    border-bottom: 1px solid black;
    margin-bottom:1rem;
}

#footer {
    margin-top: 1rem;
    border-top: 1px solid black;
    text-align: center;
<<<<<<< HEAD
}

body {
    margin:1rem;
}

.finished_status {
    color: green;
}

.not_finished_status {
    color: red;
}

.other_status {
    color:orange;
}



.content_list {
    border-collapse: collapse;
}

.chapter_exercises td {
    border-bottom: 1px solid black; 
}

.content_list tr:last-child td {
    border-bottom: 0;
  }
=======
}
>>>>>>> e61b48a4b71ed1052d08f0ece3001ccdb2b56109
